@tailwind base;
@tailwind components;
@tailwind utilities;
html {
}
body {
  background-color: #24094d;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #331866;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #45218B;
}
